# Fent testillo de scikit learn

In [1]:
import pandas as pd
import tensorflow as tf
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
datos = np.random.randint(0,100,(100,4))

In [4]:
dataframe = pd.DataFrame(data=datos, columns=['c1','c2','c3','etiqueta'])

In [5]:
dataframe

    c1  c2  c3  etiqueta
0   54  16  70        79
1   98  19  42        94
2   36  82  61        13
3   90  24  78        88
4   28  21  63        70
..  ..  ..  ..       ...
95  95  65  41        69
96   2  91  52        87
97  91  11  82        81
98  46  54  99        98
99  30  61  18        82

[100 rows x 4 columns]

In [17]:
X=dataframe[['c1','c2','c3']]

In [18]:
X

    c1  c2  c3
0   54  16  70
1   98  19  42
2   36  82  61
3   90  24  78
4   28  21  63
..  ..  ..  ..
95  95  65  41
96   2  91  52
97  91  11  82
98  46  54  99
99  30  61  18

[100 rows x 3 columns]

In [19]:
Y=dataframe[['etiqueta']]

In [20]:
Y

    etiqueta
0         79
1         94
2         13
3         88
4         70
..       ...
95        69
96        87
97        81
98        98
99        82

[100 rows x 1 columns]

In [21]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3)

In [25]:
Y_test.shape

(30, 1)